@*Copyright (c) Brett Lyle Mahon. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.*@
@page
@model BladeRazorExamples.Pages.FormEdit.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Customer Details - Blade</h2>
<hr />

<form-details asp-for="Customer"></form-details>
<form-submit-links asp-for="Customer" asp-submit-text="Edit"></form-submit-links>

<p>&nbsp;</p>
<h2>Customer Details - Standard Razor</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Registered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Registered)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
