@*Copyright (c) Brett Lyle Mahon. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.*@
@page
@model BladeRazorExamples.Pages.FormEdit.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Customers - Blade</h2>
<form-new-button asp-page="Create" asp-display-icon="false"></form-new-button>
<form-index asp-for="Customer"></form-index>

<p>&nbsp;</p>
<h2>Customers - Standard Razor</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Registered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registered)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
