@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.DynamicModel.GetType().Name List- Blade</h2>
<form-new-button asp-action="Create" asp-display-icon="false"></form-new-button>
<form-index-mvc asp-for="DynamicList" asp-headers-for="DynamicModel"></form-index-mvc>

<p>&nbsp;</p>


@*<h2>Customers - Standard MVC</h2>
    <hr />
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].CustomerType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].CustomerNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Registered)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Registered)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
