@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Customer Details - Blade</h2>
<hr />


<form-details asp-for="DynamicModel"></form-details>
<form-submit-links asp-for="DynamicModel" asp-submit-text="Edit" asp-submit-action="Edit" asp-cancel-action="Index"></form-submit-links>





@*<h2>Customer Details  - Standard MVC</h2>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telephone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Registered)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Registered)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
